<div class="row mb-2">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h3 class="mb-0 text-center">
          Supporting Migrants
        </h3>
      </div>
      <img class="card-img-bottom" src="/img/support.jpeg" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h3 class="mb-0 text-center">
          Promoting Integration
        </h3>
      </div>
      <img class="card-img-bottom" src="/img/integration.jpeg" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h3 class="mb-0 text-center">
          Challenging Negativity
        </h3>
      </div>
      <img class="card-img-bottom" src="/img/positivity.jpeg" />
    </div>
  </div>
</div>
