<div class="contents container-fluid mt-5">
  <div class="row">
    {%- assign tier_1_pages = site.pages | where: "level", 1 | sort: "ordinal" -%}
    {%- for p in tier_1_pages -%}
    <div class="col-md">
      <h6><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h6>
      <ul class="category-list">
      {%- assign tier_2_pages = site.pages | where: "parent", p.permalink | where: "level", 2 | sort: "ordinal" -%}
      {%- for q in tier_2_pages -%}
        <li>
          <a href="{{ q.url | relative_url }}">{{ q.title }}</a>
          {%- assign tier_3_pages = site.pages | where: "parent", q.permalink | where: "level", 3 | sort: "ordinal" -%}
          <ul>
          {%- for r in tier_3_pages -%}
            <li><a href="{{ r.url | relative_url }}">{{ r.title }}</a>
          {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
      </ul>
    </div>
    {%- endfor -%}
    </div>
</div>

<footer class="footer pt-3">
  <p>Developed by</p>
  <a class="footer-logo" href="http://www.docsnotcops.co.uk" target="_blank">
    <img src="/img/docsnotcops-logo.png" />
  </a>
  <a class="footer-logo" href="https://www.medact.org/" target="_blank">
    <img src="/img/medact-logo.png" />
  </a>
  <a class="footer-logo" href="https://www.migrantsorganise.org/" target="_blank">
    <img src="/img/migrants-organise-logo.jpg" />
  </a>
</footer>
