<div class="navbar-nav navbar-expand">
  <ul class="navbar-nav mb-2" style="width: 100%;">
    <li class="nav-item" style="width: 33%; text-align: center;">
      <a class="nav-link" href="/support">
        Support
        <span class="d-none d-sm-inline-block d-lg-none"> a patient</span>
        <span class="d-none d-lg-inline-block"> someone being charged for care</span>
      </a>
    </li>
    <li class="nav-item" style="width: 33%; text-align: center;">
      <a class="nav-link" href="/learn">
        Learn
        <span class="d-none d-sm-inline-block"> about charging</span>
        <span class="d-none d-lg-inline-block"> and the "Hostile Environment"</span>
      </a>
    </li>
    <li class="nav-item" style="width: 33%; text-align: center;">
      <a class="nav-link" href="/campaign">
        Campaign
        <span class="d-none d-sm-inline-block"> to end charging</span>
        <span class="d-none d-lg-inline-block"> in your local area</span>
      </a>
    </li>
  </ul>
</div>
