.navbar.navbar-primary
  // background: #72cc83
  background: #fafafa
  border-bottom: 1px solid #dadada
  border-top: 5px solid #72cc83
  text-align: center
  .navbar-brand
    color: #333
    font-weight: bold
    font-size: 1.8em
  .logo
    height: 50px

.navbar-secondary
  width: 100%
  background: #efefef
  border-bottom: 1px solid #dadada
  text-align: center
  font-size: 1.1em

.header-image
  width: 100%
  overflow: hidden
  img
    width: 100%

.footer
  text-align: center
  background: #72cc83

.contents
  ul, ol
    padding-left: 20px
  a
    color: #777
    font-size: 14px
  h6
    padding-bottom: 5px
    border-bottom: 1px solid #dadada
    font-size: 14px

.card-deck
  background: #72cc83 !important
