---
layout: default
---

<nav class="main-nav">
  <div class="cover-title">
    <a href="/">
      <img src="/img/banner.gif" alt="Patients not passports" role="title" />
    </a>
    <div class="container">
      <div class="cover-description">
        A toolkit designed to support you in <strong>advocating for people facing charges for NHS care</strong>, and in taking action to <strong>end immigration checks and upfront charging in the NHS</strong>.
      </div>
    </div>
  </div>
</nav>

<div class="container pt-3">
  {{ content }}
</div>
